#board {

}

.card {
  margin: 10px;
  width: 60px;
  height: 100px;
}

.unflipped {
  background-color: black;
}

.flipped {
  background-color: white;
}

.matched {
  border-color: green;
  background-color: white;
}
